# Capstone Project Week 3 Assignment Part I

## 1. Transform Wikipedia page data into Dataframe

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe

In [2]:
from IPython.display import display_html
import pandas as pd

unfiltered_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0] #read HTML from wikipedia
unfiltered_df.columns = ['PostalCode', 'Borough', 'Neighborhood'] #The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
unfiltered_df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                         NaN
1        M2A      Not assigned                         NaN
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

As we see table above. There are NaN data on the Table. So we replace it to 'Not assigned'

In [3]:
unfiltered_df["Neighborhood"] = unfiltered_df["Neighborhood"].fillna('Not assigned') #remove NaN to 'Not Assigned'
unfiltered_df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned                Not assigned
1        M2A      Not assigned                Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

Drop rows which Borough equals Not assigned:

In [4]:
indexNames = unfiltered_df[ unfiltered_df['Borough'] == 'Not assigned' ].index
unfiltered_df.drop(indexNames , inplace=True)
unfiltered_df = unfiltered_df.reset_index(drop=True)
unfiltered_df.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

After that, group Neighborhood by PostalCode

In [5]:
unfiltered_df = unfiltered_df.groupby('PostalCode', as_index=False).agg(lambda x : ','.join(set(x)))
unfiltered_df.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

Finally, filter the PostalCodes required by the assignment and order them accordingly:

In [6]:
filtered_df = unfiltered_df[unfiltered_df['PostalCode'].isin(['M5G', 'M2H','M4B','M1J','M4G','M4M','M1R','M9V','M9L','M5V','M1B','M5A']) ]
filtered_df = filtered_df.reset_index(drop=True)
filtered_df = filtered_df.loc[[8,3,4,1,5,6,2,11,10,9,0,7], :].reset_index(drop=True)
filtered_df

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,Parkview Hill / Woodbine Gardens
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,Wexford / Maryvale
7,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,CN Tower / King and Spadina / Railway Lands / ...
10,M1B,Scarborough,Malvern / Rouge
11,M5A,Downtown Toronto,Regent Park / Harbourfront

In [7]:
print('The dataframe shape is: ', filtered_df.shape)

The dataframe shape is:  (12, 3)